<div class="prestation-teaser">
    <a href="{{ url }}" class="no-underline relative flex items-center justify-center">
        <span class="absolute prestation-teaser-title">
            {{ node.title.value }}
        </span>
    
        <div class="thumbnail-prestation">
            {{ content.field_thumbnail }}
            <div class="overlay-thumbnail">
                <div class="overlay-thumbnail-wall rounded-xl"></div>
            </div>
        </div>
    </a>
</div>
