.media--view-mode-_6-9-adaptatif-medium img,
.media--view-mode-_6-9-adaptatif-large img,
.media--view-mode-_-16-medium-custom img,
.media--view-mode-_-16-large-custom img {
    @apply shadow-md;
}

.text-img p {
    letter-spacing: 0.05em;
    word-spacing: -0.09em;
    line-height: 1.53em;
    text-transform: none;
    font-weight: normal;
}

.text-img-title {
    letter-spacing: 0.05em;
    word-spacing: -0.09em;
    line-height: 1.53em;
    text-transform: none;
    font-weight: normal;
}

/* --- PRESTATIONS --- */
.title-prestation {
    letter-spacing: 0.15em;
    word-spacing: 0em;
    line-height: 1.23em;
    text-transform: none;
    font-weight: normal;
}

.thumbnail-prestation div img {
    @apply shadow-md;
    object-fit: cover;
}

.overlay-thumbnail {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.overlay-thumbnail-wall {
    background: rgba(255, 255, 255, 0);
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
    pointer-events: none;
    width: 90%;
    height: 10.5rem;
    max-width: 460px;
}

.prestation-teaser,
.prestation-teaser a,
.thumbnail-prestation,
.thumbnail-prestation div img {
    height: 12rem;
    width: 100%;
}

.prestation-teaser a span {
    transition: color 0.3s ease-in-out;
    z-index: 1;
    text-align: center;
}

.teaser-column:hover .overlay-thumbnail-wall {
    background: rgba(246, 243, 241, 0.5);
    transform: scale(1);
}

.teaser-column:hover span {
    transition: color .5s;
    color: #161103;
}

.prestation-teaser-title {
    color: #f6f3f1;
    font-size: 1.5rem;
    letter-spacing: 0.05em;
    word-spacing: -0.09em;
    line-height: 1.53em;
    text-transform: none;
    font-weight: normal;
}


@media (max-width: 768px) {


    .overlay-thumbnail-wall {
        background: rgba(246, 243, 241, 0.5);
        transform: scale(1);
    }

    .teaser-column span {
        color: #161103;
    }
}

/* --- END PRESTATIONS --- */


/* --- VERTICAL IMAGES --- */
.vertical-container img {
    margin: auto;
}

/* --- END VERTICAL IMAGES --- */

/* --- PRICE --- */
.price-middle {
    height: 3em;
    margin-bottom: 3em;
    font-size: 16px;
}

.cercle-price {
    font-size: 16px;
    width: 6em;
    height: 6em;
    padding: 0;
    line-height: 1em;
    border-radius: 500%;
    margin: 0 auto !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paragraph--type--bloc-tarifs .text-content p {
    margin-top: 15px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

/* --- END PRICE --- */

/* --- 3 VISUEL 1 TEXT --- */

@media (max-width: 767px) {
    .container-area {
        margin: 20px 0px;
    }

    .sous-container-area {
        display: flex;
        flex-direction: column;
        gap: 1.125rem;
    }

    .left-area,
    .right-area {
        display: flex;
        flex-direction: column;
        gap: 1.125rem;
    }

    .text-top-left {
        min-height: 8rem;
    }
}

@media (min-width: 768px) {
    .container-area {
        margin: 0 auto;
        position: relative;
        padding: 3.125rem 5.0625rem;
    }

    .left-area {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: calc(41.5%);
    }

    .text-top-left {
        width: 100%;
        margin-bottom: 1.375rem;
    }

    .img-bottom-left {
        width: 100%;
        height: 37.1vw;
        flex-grow: 1;
    }

    .right-area {
        width: calc(100% - 41.5% - 1.375rem);
        margin-left: 1.375rem;
    }

    
    .img-top-right img,
    .img-bottom-right img,
    .img-bottom-left img {
        display: inline-block;
        vertical-align: middle;
        max-width: 100%;
        object-fit: cover;
        object-position: center center;
    }
    
    .img-bottom-right {
        width: 100%;
        height: 31.1vw;
    }
    
    .img-top-right {
        width: 100%;
        height: 31.1vw;
        margin-bottom: 1.375rem;
        
    }

    @media (max-width: 1024px) {
        .right-area {
            display: grid;
            align-content: space-between;
        }
    
        .container-area {
            padding: 3.125rem 0;
        }
    }
}
/* --- END 3 VISUEL 1 TEXT --- */
